/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    background-color: #FFCC00;
    /* Yellow */
    color: #fff;
    text-align: center;
    padding: 1em;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav [class^="fa"] {
    color: #fff;
}

main {
    flex: 1;
    /* padding: 1em; */
}

#meal-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    justify-items: center;
}

.meal {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
    width: 100%;
    /* width: 30%;
    max-width: 200px; */
}

.meal.active {
    background-color: #ffcc006b;
    /* Change to your desired hover color */
    border-color: #ffcc006b;
    /* Change to your desired hover color */
    /* color: #fff; */
    /* Change text color if needed */
}

.meal img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

@media (min-width: 1024px) {
    #meal-section {
        grid-template-columns: repeat(4, 1fr);
        /* Limit to 4 items per row */
    }
}

@media (max-width: 415px) {
    #meal-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Two items per row */
        gap: 1em;
    }

    .meal {
        flex-basis: auto;
    }
}

@media (max-width: 390px) {
    #meal-section {
        display: grid;
        grid-template-columns: 1fr;
        /* One item per row */
        gap: 1em;
    }

    .meal {
        flex-basis: 100%;
    }
}

#basket-list {
    list-style-type: none;
    padding: 0;
}

.menu_item_counter {
    width: 40px !important;
}

/* .basket-item {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100% !important;
} */

.basket-item-operators {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.basket-item button {
    background-color: #ff6c00e5;
    border: none;
    color: #fff;
    padding: 0.5em;
    cursor: pointer;
}

.basket-item input {
    width: 50px;
    text-align: center;
}

.basket-item .input-group * {
    height: 30px;
    display: flex;
    align-items: center;
}

.custom_font {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    font-weight: bolder;
}

.food_section {
    box-sizing: border-box;
}

.food_section h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    color: #222831;
    text-align: center;
    font-weight: 900;
}

.food_section .filters_menu {
    padding: 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style-type: none;
    margin: 45px 0 20px 0;
    gap: 10px;
    box-sizing: border-box;
}


.food_section .filters_menu li {
    padding: 7px 25px;
    cursor: pointer;
    border-radius: 25px;
    box-sizing: border-box;
    border: 2px solid transparent;
    text-align: center;
}


.food_section .filters_menu li:hover {
    border: 2px solid #222831;
}

.food_section .filters_menu li.active {
    background-color: #222831;
    color: #ffffff;
}

.btn-group:hover .btn {
    background-color: #ffcc00;
    /* Change to your desired hover color */
    border-color: #ffcc00;
    /* Change to your desired hover color */
    color: #fff;
    /* Change text color if needed */
}

.btn-group:hover .btn-price {
    background-color: #6c757d;
    /* Change to your desired hover color */
    border-color: #6c757d;
    /* Change to your desired hover color */
    color: #fff;
    /* Change text color if needed */
}

.btn-group.active .btn {
    background-color: #ffcc00;
    /* Change to your desired hover color */
    border-color: #ffcc00;
    /* Change to your desired hover color */
    color: #fff;
    /* Change text color if needed */
}

.btn-group.active .btn-price {
    background-color: #6c757d;
    /* Change to your desired hover color */
    border-color: #6c757d;
    /* Change to your desired hover color */
    color: #fff;
    /* Change text color if needed */
}

@media (max-width: 375px) {
    li.basket-item {

        /* .menu_item_counter {
            width: 40%;
            justify-content: center;
        } */

        &>div:nth-child(1) {
            display: flex;
            flex-direction: column !important;
            justify-content: center;
            align-items: center;

            /* align the first item in start */

            &>div:nth-child(1) {
                width: 100%;
                align-items: flex-start;
            }
        }

        .basket-item-operators {
            width: 100%;
            display: flex;
            /* flex-direction: column !important; */
            justify-content: center;
            align-items: center;
            align-content: center;
            /* border: 1px solid #000; */

            .input-group {
                width: 85px;
            }
        }
    }
}

@media (max-width: 391px) {
    .food_section .filters_menu li {
        padding: 2px 0px;
    }

    .meal .menu_item_counter {
        width: 30px !important;
        display: inline;
    }

    li.basket-item .basket-item-operators {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 411px) {
    .food_section .filters_menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* Three items per row */
        gap: 5px;
        font-size: .9rem;
    }

    .meal .card-title {
        width: 100%;
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .food_section .filters_menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* Three items per row */
        gap: 5px;
        font-size: .9rem;
    }

    .meal .card-title {
        width: 100%;
        font-size: 1rem;
    }
}